*{
  box-sizing: border-box;
  
 
}


.app{
 background-color: rgb(196, 226, 255);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.css-1v8x7dw::-webkit-scrollbar{
width: "7px";

}